<!DOCTYPE html>
<html>

<head>
  <title>Для правообладателей</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Для правообладателей">
  <meta name="robots" content="index">
  <link rel="shortcut icon" href="/images/icon.webp" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
  <script async src="/javascripts/addToList.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  </style> 

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" id="Nav">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="/images/logo.webp" class="d-block rato ratio16x9" alt="Anilagann" width="152px">
      </a>
      <div class="d-none d-sm-block">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link" href="/top" id="link">Топ-100</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/animelist" id="link">Все аниме</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search" id="link">Поиск</a>
          </li>
          
        </ul>    
<a class="btn btn-primary btn-p" href="/account/profile" role="button">Профиль</a>
      </div>
    </div>
  </nav>

  <div class="container text-white mb-5">
    <h1 class="mt-4">Для правообладателей</h1>
    <h3 class="mb-0">Деятельность сайта Anilagann осуществляется в соответствии с законодательством Российской Федерации в области защиты информации и авторских прав на контент.</h3><br>
    Все размещенные на ресурсе материалы находятся в свободном доступе и могут быть бесплатно скачаны из интернета. Сбор информации в сети и размещение контента в каталоге производится в автоматическом режиме.<br>
    <br>
    Публикация нелицензионного, похищенного контента и материалов, защищенных авторским правом, не допускается. Администрация размещает только любительские русскоязычные материалы из свободных источников при использовании автоматической системы.<br>
    <br>
    На сайте Anilagann публикуются только фрагменты материалов, переведенные на русский язык, а также контент с любительским переводом для ознакомительного просмотра. Размещение оригинальных, непереведенных материалов невозможно.<br>
    <br>
    Администрация ресурса предлагает сотрудничество с правообладателями контента. В случае нарушения прав собственности сайт обязуется убрать неправомерно размещенный материал или предложить выгодные условия сотрудничества правообладателю.<br>
    <br>
    Если вы обнаружили материал, представленный на нашем сайте, который нарушает ваши авторские права, или же дискредитирует Вашу компанию, предоставляя неверную или искаженную информацию, пожалуйста свяжитесь с нами для решения этого вопроса.<br>
    <br>
    Для этого необходимо отправить e-mail с вашего корпоративного почтового ящика содержащий:<br>
    контактные данные, реквизиты вашей компании;<br>
    прямую ссылку(ссылки) на материал, который вы считаете спорным;<br>
    заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал;<br>
    в случае, если вы представляете интересы другой компании – копии документов на посреднические услуги;<br>
    На адрес anilagannanime@gmail.com<br>

    Вся информация будет проверена, и администрация сайта в кратчайшие сроки свяжется с вами для урегулирования спорного вопроса.
  </div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
      <p class="col-md-4 mb-0 text-body-white">© 2023 Anilagann</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/images/logo.webp" class="d-block rato ratio16x9" alt="Anilagann" width="152px">
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/for-copyright-holders" class="nav-link px-2 text-white">Для правообладателей</a></li>

        <li class="nav-item"><a href="https://github.com/AGRIG05/anilagann-app" class="nav-link px-2 text-white">Github</a></li>
      </ul>
    </footer>
  </div>

  <script>
    Fancybox.bind("[data-fancybox]", {
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>